ConsumidorDeServicos/Service References/RestauranteService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RestauranteService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WcfTest.Classes" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRestauranteService_BuscarTodosRestaurantes_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarTodosRestaurantes" />
  </wsdl:message>
  <wsdl:message name="IRestauranteService_BuscarTodosRestaurantes_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarTodosRestaurantesResponse" />
  </wsdl:message>
  <wsdl:message name="IRestauranteService_BuscarRestaurantePorId_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarRestaurantePorId" />
  </wsdl:message>
  <wsdl:message name="IRestauranteService_BuscarRestaurantePorId_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarRestaurantePorIdResponse" />
  </wsdl:message>
  <wsdl:message name="IRestauranteService_AdicionarRestaurante_InputMessage">
    <wsdl:part name="parameters" element="tns:AdicionarRestaurante" />
  </wsdl:message>
  <wsdl:message name="IRestauranteService_AdicionarRestaurante_OutputMessage">
    <wsdl:part name="parameters" element="tns:AdicionarRestauranteResponse" />
  </wsdl:message>
  <wsdl:portType name="IRestauranteService">
    <wsdl:operation name="BuscarTodosRestaurantes">
      <wsdl:input wsaw:Action="http://tempuri.org/IRestauranteService/BuscarTodosRestaurantes" message="tns:IRestauranteService_BuscarTodosRestaurantes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRestauranteService/BuscarTodosRestaurantesResponse" message="tns:IRestauranteService_BuscarTodosRestaurantes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarRestaurantePorId">
      <wsdl:input wsaw:Action="http://tempuri.org/IRestauranteService/BuscarRestaurantePorId" message="tns:IRestauranteService_BuscarRestaurantePorId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRestauranteService/BuscarRestaurantePorIdResponse" message="tns:IRestauranteService_BuscarRestaurantePorId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AdicionarRestaurante">
      <wsdl:input wsaw:Action="http://tempuri.org/IRestauranteService/AdicionarRestaurante" message="tns:IRestauranteService_AdicionarRestaurante_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRestauranteService/AdicionarRestauranteResponse" message="tns:IRestauranteService_AdicionarRestaurante_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRestauranteService" type="tns:IRestauranteService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BuscarTodosRestaurantes">
      <soap:operation soapAction="http://tempuri.org/IRestauranteService/BuscarTodosRestaurantes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarRestaurantePorId">
      <soap:operation soapAction="http://tempuri.org/IRestauranteService/BuscarRestaurantePorId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AdicionarRestaurante">
      <soap:operation soapAction="http://tempuri.org/IRestauranteService/AdicionarRestaurante" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RestauranteService">
    <wsdl:port name="BasicHttpBinding_IRestauranteService" binding="tns:BasicHttpBinding_IRestauranteService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WcfTest/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>