ConsumidorDeServicos/Service References/RestauranteService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WcfTest.Classes" />
  <xs:element name="BuscarTodosRestaurantes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarTodosRestaurantesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfTest.Classes" minOccurs="0" name="BuscarTodosRestaurantesResult" nillable="true" type="q1:ArrayOfRestaurante" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarRestaurantePorId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarRestaurantePorIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfTest.Classes" minOccurs="0" name="BuscarRestaurantePorIdResult" nillable="true" type="q2:Restaurante" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdicionarRestaurante">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfTest.Classes" minOccurs="0" name="restaurante" nillable="true" type="q3:Restaurante" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdicionarRestauranteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AdicionarRestauranteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>