ConsumidorDeServicos/Service References/RestauranteService/WcfTest.Classes.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfTest.Classes" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfTest.Classes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfRestaurante">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Restaurante" nillable="true" type="tns:Restaurante" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRestaurante" nillable="true" type="tns:ArrayOfRestaurante" />
  <xs:complexType name="Restaurante">
    <xs:sequence>
      <xs:element minOccurs="0" name="Endereco" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Restaurante" nillable="true" type="tns:Restaurante" />
</xs:schema>